body {
	background-color: black;
}

.game-board	{
	height: 80vh;
	width: 80vh;
	margin: auto;
	padding: 12px;
}

.game-button	{
	position: absolute;
	display: inline-block;
	height: 30vh;
	width: 30vh;
	border: 12px black;
	border-top-left-radius: 100%;
	transform-origin: bottom right; 
}

.game-button-beeping	{
	opacity: 50%;
}