.game-options-container	{
	position: fixed;
	bottom: 0;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	text-align: left;
}

.game-options 	{
	max-width: 25%;
	min-width: 300px;
	margin: 12px;
}

.game-options-text	{
	color: white;
	font-size: 16px;
}

.game-options-label	{
	color: white;
	margin: 0 12px;
	font-size: 24px;
}